
</div>
<div class="footer-padding"></div>
  <div class="footer">
    <p>Made with ❤️ in California</p>
    <p><i>Copyright ©  </i>
      <script type="text/javascript">var year = new Date();document.write(year.getFullYear());</script>
    Katenga.com All rights reserved.</p>
  </div>
</div>

</body>
</html>
