<%-include("partials/header"); -%>

<h1 class="post-header">Post a listing</h1>
<form action="/compose" method="post">
  <div class="contact-form" id="form-group">
    <label for="title">Post Title</label>
    <input class="form-control" type="text" name="title" required />
    <label for="location">Location</label>
    <input class="form-control" type="text" name="location" />
    <label for="price">Price $</label>
    <input class="form-control" type="text" name="price" />
    <label for="tel">Phone Number</label>
    <input class="form-control" type="number" name="tel" />
    <label for="">Description</label>
    <textarea
      class="form-control"
      name="description"
      value=""
      id=""
      cols="30"
      rows="5"
    ></textarea>
  </div>
  <button class="btn btn-primary post-btn" type="submit">Post listing</button>
</form>

<%-include("partials/footer"); -%>
