<%-include("partials/header"); -%>

<h1 class="post-header">List a Phone | Computer | Tablet</h1>

<form action="/electronicsCompose" method="post" enctype="multipart/form-data">
  <div id="form-group">
    <label for="title">Posting Title</label>
    <input class="form-control" type="text" name="electronicTitle" required />
    <label for="brand">Brand</label>
    <input class="form-control" type="text" name="electronicBrand" />
    <label for="brand">Model</label>
    <input class="form-control" type="text" name="electronicModel" />
    <label for="brand">Color</label>
    <input class="form-control" type="text" name="electronicColor" />
    <label for="location">Location</label>
    <input class="form-control" type="text" name="electronicLocation" />
    <label for="price">Price $</label>
    <input class="form-control" type="text" name="electronicPrice" />
    <label for="tel">Phone Number</label>
    <input class="form-control" type="number" name="electronicTel" />
    <!-- <label for="dateOfSubmit">Date:</label>
    <input type="date" id="submitionDate" name="electronicDate" /> <br /> -->
    <label for="img">Upload photo</label>
    <input type="file" name="images" multiple />

    <label for="">Description</label>
    <textarea
      class="form-control"
      name="electronicDescription"
      value=""
      id=""
      cols="30"
      rows="5"
    ></textarea>
  </div>
  <button class="btn btn-primary post-btn" type="submit">Post listing</button>
</form>

<%-include("partials/footer"); -%>
