<%-include("partials/header"); -%>

<h1 class="post-header">Electronics Listings</h1>
<a href="/electronicsCompose">
  <button class="btn btn-primary" type="submit">Post listing</button>
</a>

<h1>Today listings:</h1>
<hr />
<%-include("partials/footer"); -%>
