.body-content {
  padding: 0px 15px;
}
.container-fluid {
  padding-top: 70px;
  padding-bottom: 70px;
}

.navbar {
  padding-bottom: 15px;
  border: 0;
  border-radius: 0;
  margin-bottom: 0;
  font-size: 12px;
  letter-spacing: 5px;
}
.navbar-nav li a:hover {
  color: #1abc9c !important;
}

.today-listing {
  text-align: center;
}
.link-title {
  display: contents;
}
.title-alink {
  margin-left: 15px;
}

/* styling for content once title is clicked */
.display-content-wrapper {
  width: 70%;
  margin: 0 auto;
  padding: 12px 0px 12px 20px;
}

.post-btn {
  background-color: green;
}
.btn:hover {
  background-color: green;
}

.footer-padding {
  padding-bottom: 75px;
}

.footer {
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 60px;
  background-color: green;
}

.footer p {
  margin-top: 10px;
  font-size: 12px;
  color: #fff;
}
form {
  width: 80%;
  margin: 0 auto;
}
.post-header {
  text-align: center;
}
.btn {
  display: flex;
  margin: 0 auto;
  margin-top: 20px;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  /* display: none; <- Crashes Chrome on hover */
  -webkit-appearance: none;
  margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type="number"] {
  -moz-appearance: textfield; /* Firefox */
}

/* styling for our contact us form */
.contact-form {
  width: 20%;
  margin: 0 auto;
}
.c-input {
  display: block;
  margin: 10px 0px;
  font-size: 16px;
  height: 30px;
  width: 100%;
}
.contact-mgs {
  margin: 10px 0;
}
.submit-btn {
  margin-top: 10px;
  width: 90px;
  height: 40px;
  font-size: 20px;
  border-radius: 10pz;
  border-radius: 5px;
  background-color: green;
  color: #fff;
}
.c-header,
.c-content {
  text-align: center;
}

/* media query for responsiveness */
/* Extra small devices (phones, 600px and down) */

@media only screen and (max-width: 600px) {
  .home-intro-text {
    display: none;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .slogan {
    font-size: 15px;
  }
  /* .slogan > :hover {
    text-decoration: none;
  } */

  .container {
    /* background-color: #1abc9c; */
    background-color: green;

    width: 100%;
  }
  .navbar-default .navbar-brand {
    color: white;
    font-size: 35px;
    /* text-decoration: underline; */
  }
  /* .navbar-brand > p :hover {
    color: #1abc9c !important;
  } */
  .navbar-default .navbar-brand:hover {
    color: #fff;
    background-color: transparent;
  }
  .footer {
    position: fixed;
  }

  .body-content {
    min-height: 100%;
  }
  .home-intro-text {
    width: 70%;
    margin: 0 auto;
    text-align: center;
  }
  .navbar-default,
  .navbar-nav > li > a {
    color: white;
    font-weight: bold;
  }
  .navbar-header > a {
    color: white;
  }
  .navbar-default .navbar-nav > li > a {
    color: white;
  }
}

/* testing code */

/* tsting gcode  */

@media only screen and (max-width: 830px) {
  .home-intro-text {
    display: none;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
}
