.body-content {
  padding: 0px 15px;
}
.container-fluid {
  padding-top: 70px;
  padding-bottom: 70px;
}
.navbar {
  padding-bottom: 15px;
  border: 0;
  border-radius: 0;
  margin-bottom: 0;
  font-size: 12px;
  letter-spacing: 5px;
}
.navbar-nav li a:hover {
  color: #1abc9c !important;
}
.today-listing {
  text-align: center;
}
.footer-padding {
  padding-bottom: 60px;
}

.footer {
  text-align: center;
  bottom: 0;
  width: 100%;
  height: 60px;
  background-color: #f8f8f8;
}

.footer p {
  margin-top: 25px;
  font-size: 12px;
  color: #7777;
}
form {
  width: 80%;
  margin: 0 auto;
}
.post-header {
  text-align: center;
}
.btn {
  display: flex;
  margin: 0 auto;
  margin-top: 20px;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  /* display: none; <- Crashes Chrome on hover */
  -webkit-appearance: none;
  margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type="number"] {
  -moz-appearance: textfield; /* Firefox */
}

/* media query for responsiveness */
/* Extra small devices (phones, 600px and down) */

@media only screen and (max-width: 600px) {
  .home-intro-text {
    display: none;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .slogan {
    font-size: 15px;
  }

  .container {
    /* background-color: #1abc9c; */
    background-color: green;

    width: 100%;
  }
  .navbar-default .navbar-brand {
    color: white;
    font-size: 35px;
  }
  /* .navbar-brand > p :hover {
    color: #1abc9c !important;
  } */
  .navbar-default .navbar-brand:hover {
    color: #fff;
    background-color: transparent;
  }
  .footer {
    margin-top: 400px;
  }
  .body-content {
    min-height: 100%;
  }
  .home-intro-text {
    width: 70%;
    margin: 0 auto;
    text-align: center;
  }
  .navbar-default,
  .navbar-nav > li > a {
    color: white;
    font-weight: bold;
  }
  .navbar-header > a {
    color: white;
  }
  .navbar-default .navbar-nav > li > a {
    color: white;
  }
}

/* testing code */

/* tsting gcode  */

@media only screen and (max-width: 830px) {
  .home-intro-text {
    display: none;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
}
